.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	min-height: 100vh;
}

.decor {
	background:
		radial-gradient(circle at top left,
			#48e4d7 0%,
			transparent 60%),
		linear-gradient(to top right,
			#66AAFC,
			#B9ECE7);
}

.content {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 40px;
}

@media (max-width: 1024px) {
	.container {
		grid-template-columns: 1fr;
	}

	.decor {
		display: none;
	}
}